[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "causalPAF"]
	path = causalPAF
	url = https://github.com/mauriceoconnell/causalpaf
	shallow = true
	registered = true
